h2 {
  padding-left: 100pt;
}
h3 {
  padding-left: 100pt;
}

body {
  background: Wheat;
  font-family: Lucida Console;
  padding-left: 300pt;
}

canvas {
  width: 300px;
  height: 300px;
  border: 2px solid gray;
}

input {
  margin: 6pt;
  background: Khaki;
  font-family: Lucida Console;
}